/*----------------- 验证不通过时,错误提示的样式 ---------------*/
span.validate_error_message
{
	font-family: "arial";
	font-size: 12px;
	color: #ff0000;
	text-decoration: none;
	
	padding:2px;
	padding-bottom:0px;
	margin:2px;
	margin-bottom:0px;
	
	border:1px solid #FFCC00;
    background-color: #FFFFF7;
}
/*----------------- 验证不通过时,输入框的样式 ---------------*/
.validate_error_input
{
	border:1px solid #ff8888;
    background-color: #FFFFF7;
}
.validate_error_input option
{
	border:1px solid #ff8888;
    background-color: #FFFFF7;
}
/*----------------- 必输项的星号样式 ---------------*/
span.validate_required_star
{
	color: #ff0000;
	padding:2px;
	/*background-color: #FFFAFA;*/
}
